body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:whitesmoke;
    
}

button {
    margin:6px;
    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1 {
    font-family: 'Bevan', cursive;
}

hr {
    border: 1px solid #DDEFBB;
}

input[type="text"], textarea {
    width: 100%;
    height: 100%;
    background: #DDEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEEEE, #DDEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEEEE, #DDEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:0px;
    color:black;

}

/* #gif-holder{
    /* outline: 1px solid black; */
    /* width:100%; */
    /* height:500px; */
    /* flex-direction:column; */
    /* display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
} */ 

.gif-holder-indiv {
    width:100%;
    height:500px;
    flex-direction:column;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    
}

.img-thumbnail {
    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* #gif-holder *{
    outline: 1 px dotted red;
} */
/* .bob{
    height:100px;
    width:100px;
    background: orange;
} */
/* .blackground { */
    /* background-color: black; */
/* } */